<!doctype html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <title>Offcanvas template for Bootstrap</title>         
        <!-- Bootstrap core CSS -->         
        <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet"> 
        <!-- Custom styles for this template -->         
        <link href="assets/auntie.css" rel="stylesheet"> 
        <link href="assets/css/jquery.flexdatalist.min.css" rel="stylesheet"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.css" rel="stylesheet"> 
        <style>#my-image,
#use {
    display: none;
}

.bootstrap-tagsinput {
    width: 100%;
}</style>
    </head>     
    <body class="bg-light"> 
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger"> 
            <a class="navbar-brand mr-auto mr-lg-0" href="/">Auntie</a> 
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas"> 
                <span class="navbar-toggler-icon"></span> 
            </button>             
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault"> 
                <form class="form-inline my-2 my-lg-0 mt-lg-0 mb-lg-0 ml-lg-5" action="/search" method="post"> 
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
                    <div class="dropdown"> 
                        <button class="btn dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>                         
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                            <a class="dropdown-item" href="#">North</a> 
                            <a class="dropdown-item" href="#">South</a> 
                            <a class="dropdown-item" href="#">East</a> 
                            <a class="dropdown-item" href="#">West</a> 
                        </div>                         
                    </div>                     
                    <button class="btn my-2 my-sm-0 btn-light" type="submit">Search</button>                     
                </form>                 
                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item"> 
                        <a class="nav-link" href="/deals">Deals</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="/events">Events</a> 
                    </li>                
                    <% if (!user) { %>
                    <li class="nav-item"> 
                        <a class="nav-link" href="/register">Register</a> 
                    </li>   
                    <li class="nav-item"> 
                        <a class="nav-link" href="/login">Login</a> 
                    </li>    
                    <% }  %>                  
                    <% if (user) { %>
                        <li class="nav-item dropdown "> 
                            <a class="nav-link dropdown-toggle" href="/dashboard" id="dropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Controls</a> 
                            <div class="dropdown-menu" aria-labelledby="dropdown01"> 
                                <a class="dropdown-item" href="/profile">Profile</a> 
                                <a class="dropdown-item" href="/settings">Settings</a> 
                                <a class="dropdown-item" href="/logout">Log out</a> 
                            </div>                         
                        </li>                         
                    <% }  %>
                </ul>                 
            </div>             
        </nav>         
        <div class="container"> 
            <div class="row" style="height: 30px;"></div>             
        </div>         
        <main role="main" class="container">
            <div class="col-sm-6 offset-sm-3">
                <h1><br>Upload item</h1>
                <form id="formData1" action="/item" method="post" enctype="multipart/form-data">
                    <div class="form-group">Listing Title&nbsp; &nbsp;&nbsp;
                        <br>
                        <input type="text" class="form-control" name="topics">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" rows="6" class="form-control" name="description"></textarea>
                    </div>
                    <div>
                        <input type="file" id="fileUpload" name="file" accept="image/png, image/jpeg">
                    </div>
                    <div class="container mt-5">
                        <div class="row">
                            <div class="col-6 d-flex justify-content-center align-items-center" style="background-color: #d7d7d7; border-radius: 15px;">
                                <div class="justify-content-center d-flex">
                                    <img id="img1" src="assets/images/image.png" style="width: 50%; height: 50%;"/>
                                    <input id="upload1" type="file" name="file" accept="image/png, image/jpeg" style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height: 100%; cursor: pointer;" onchange="PreviewImage()">
                                </div>
                                <img id="imgPreview1" src="" style="position: absolute; width: 100%; height: 100%; display: none;"/>
                            </div>
                            <div class="col-6">
                                <img id="img2" src="assets/images/upload-img.png" style="width: 100%;"/>
                            </div>
                        </div>
                        <div>
                            <img id="cropperImage" style="width: 100%;" src="1334859395411.jpg">
                        </div>
                    </div>
                    <div class="form-group">Tags
                        <br>
                        <input id='taginput' type='text' placeholder='Additional info' class='flexdatalist form-control' data-min-length='1' multiple='multiple' name='itemTags'>
                    </div>
                    <button id='subBtn' type="button" class="btn btn-lg btn-danger" onclick="PostForm()">Upload!</button>
                </form>
                <hr>
                <button type="button" class="btn btn-light" id="cropbtn">Crop</button>
            </div>
        </main>         
        <footer class="my-5 pt-5 text-muted text-center text-small"> 
            <p class="mb-1">&copy; 2019 Auntie.cc</p> 
            <ul class="list-inline"> 
                <li class="list-inline-item"> 
                    <a href="#">Privacy</a> 
                </li>                 
                <li class="list-inline-item"> 
                    <a href="#">Terms</a> 
                </li>                 
                <li class="list-inline-item"> 
                    <a href="#">Support</a> 
                </li>                 
            </ul>             
        </footer>         
        <!-- Bootstrap core JavaScript
    ================================================== -->         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="assets/js/jquery.min.js"></script>         
        <script src="assets/js/popper.js"></script>         
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>         
        <script src="assets/js/jquery.flexdatalist.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.3/cropper.min.js"></script>

        <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').on('click', function () {
                $('.offcanvas-collapse').toggleClass('open');
            });
        });
        
        var cropper0;
            
        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("upload1").files[0]);

            oFReader.onload = function (oFREvent) {
                console.log("Display img");
                document.getElementById('cropperImage').src = oFREvent.target.result;
                var image = document.getElementById('cropperImage');
                cropper0 = new Cropper(image, {
                    aspectRatio: 1 / 1,
                    crop(event) {
                        /*
                        console.log(event.detail.x);
                        console.log(event.detail.y);
                        console.log(event.detail.width);
                        console.log(event.detail.height);
                        console.log(event.detail.rotate);
                        console.log(event.detail.scaleX);
                        console.log(event.detail.scaleY);*/
                    },
                });
            };
        };

        var crop1;

        function PostForm()
        {
            var data = new FormData($("form[id*='formData1']")[0]);
            data.append('image_data', crop1, 'cropped.jpg');

            $.ajax({
                url: '/item',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(data){
                //handle errors...
                }
            });
        };

          var showImg = document.getElementById('imgPreview1');  
          var formData  = document.getElementById('formData1');
          $("#cropbtn").click(function() {
               cropper0.getCroppedCanvas({
                width: 160,
                height: 90,
                minWidth: 256,
                minHeight: 256,
                maxWidth: 4096,
                maxHeight: 4096,
                fillColor: '#fff',
                imageSmoothingEnabled: false,
                imageSmoothingQuality: 'high',
              }).toBlob((blob) => {              
                   const image1Url = URL.createObjectURL(blob);
				   showImg.style.display = "block";
                   showImg.src = image1Url;
                   crop1 = blob;
                });
          });    


    </script>         
    </body>     
</html>