<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Auntie - Terms and Conditions</title>         
        <!-- Bootstrap core CSS -->
        <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet"> 
        <!-- Custom styles for this template -->         
        <link href="assets/css/auntie.css" rel="stylesheet"> 
    </head>
    <body class="bg-light"> 
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger"> 
            <a class="navbar-brand mr-auto mr-lg-0" href="/">Auntie</a> 
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas"> 
                <span class="navbar-toggler-icon"></span> 
            </button>             
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault"> 
                <form class="form-inline my-2 my-lg-0 mt-lg-0 mb-lg-0 ml-lg-5" action="/search" method="get"> 
                    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
                    <button class="btn my-2 my-sm-0 btn-light" type="submit">Search</button>                     
                </form>                 
                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item"> 
                        <a class="nav-link" href="/deals">Deals</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="/events">Events</a> 
                    </li>                
                    <% if (!user) { %>
                    <li class="nav-item"> 
                        <a class="nav-link" href="/register">Register</a> 
                    </li>   
                    <li class="nav-item"> 
                        <a class="nav-link" href="/login">Login</a> 
                    </li>    
                    <% }  %>                  
                    <% if (user) { %>
                        <li class="nav-item dropdown "> 
                            <a class="nav-link dropdown-toggle" href="/dashboard" id="dropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Controls</a> 
                            <div class="dropdown-menu" aria-labelledby="dropdown01"> 
                                <a class="dropdown-item" href="/profile">Profile</a> 
                                <a class="dropdown-item" href="/settings">Settings</a> 
                                <a class="dropdown-item" href="/logout">Log out</a> 
                            </div>                         
                        </li>                         
                    <% }  %>
                </ul>                 
            </div>             
        </nav>        
        <div class="container"> 
            <div class="row" style="height: 30px;"></div>             
        </div>         
        <main role="main" class="container"> 
            <div class="row">
                <div class="col-lg-9 col-md-12"> 
                    <h1><strong>Terms & Conditions</strong></h1> 
                    <div >
                        <h2 id="terms"><strong>Usage</strong></h2> 
                    	<strong>Introduction</strong>
                        <p>Welcome to Auntie.cc, or Auntie See See. Auntie.cc is a product listing search engine. If you are a retailer, you will be able to upload your products and have them searchable to consumers. As a consumer or customer, you will be able to find nearby stores or shops that sell the item that you are seeking.</p>
                        
                        <strong>Terms And Conditions</strong>
                        <p>The Terms And Conditions contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms and conditions contained herein in full. You must not use this Website, if you have any objection to any of the Terms And Conditions.
                        </p>    
                        <p>Auntie.cc does not provide, own or control any of the product, deals or events listings that you can access through this Website.  Auntie.cc hosts content, including products, made available by or obtained from Businesses and Users. Auntie.cc is in no way responsible for the accuracy, timeliness or completeness of such content. The listings are owned, controlled or made available by third parties either directly (e.g., company, retailer accounts) or as an user (e.g., anonymous posting of events or deals). The posters are responsible for their listings on this Website. Your interaction with any listings accessed through this Website is at your own risk; Auntie.cc does not bear any responsibility should anything go wrong during your interaction with the products, deals or events listed.</p>
                        
                        <strong>Product Listings</strong>
                        <p>When you provide us with product listings, you own the listings you create and share, and you also grant us a perpetual, transferable, irrevocable, sub-licensable, fully-paid, worldwide license to use, modify, reproduce, distribute, prepare derivative works of, publicly perform, and publicly display (in tangible form and electronically) all listings or other content provided to us. We can use the listings in any format, channel, platform, or region with the right to localize the content into other languages. If uploaded or submitted to us, you further give us permission and the right to use your brand, image, likeness, or other personal attributes for the purposes described in these Terms.
                        </p>
                        <p>You authorize us to make copies as we deem necessary in order to facilitate the storage and assimilation of the listings on the websites. By providing us with product listing content, you represent and warrant that the listing content you provide will not violate or in any way infringe upon the rights of third parties, including property, contractual, employment, trade secrets, proprietary information, and nondisclosure rights, or any intellectual property rights. You may remove your listing(s) from the website, but the license that you have granted will remain in effect. You understand that we do not control nor are we responsible for reviewing product listings. However, we reserve the right to review, edit, or delete any product listings or your account at any time. We are not in any way responsible or liable for such product listings or the messaging contained in listing content.</p>
                        
                        <strong>Deal Listings</strong>
                        <p>You may promote a deal on our Website to advertise to the community. You authorize us to make copies as we deem necessary in order to facilitate the storage and assimilation of the listings on the websites. By providing us with deal listing content, you represent and warrant that the listing content you provide will not violate or in any way infringe upon the rights of third parties, including property, contractual, employment, trade secrets, proprietary information, and nondisclosure rights, or any intellectual property rights. You understand that we do not control nor are we responsible for reviewing deal listings. However, we reserve the right to review, edit, or delete any deal listings at any time. We are not in any way responsible or liable for such deal listings or the messaging contained in listing content.
                        </p>

                        <strong>Event Listings</strong>
                        <p>You may promote an event on our Website to advertise to the community. You authorize us to make copies as we deem necessary in order to facilitate the storage and assimilation of the listings on the websites. By providing us with event listing content, you represent and warrant that the listing content you provide will not violate or in any way infringe upon the rights of third parties, including property, contractual, employment, trade secrets, proprietary information, and nondisclosure rights, or any intellectual property rights. You understand that we do not control nor are we responsible for reviewing event listings. However, we reserve the right to review, edit, or delete any event listings at any time. We are not in any way responsible or liable for such event listings or the messaging contained in listing content.</p>

                        <strong>Content Removal and Disabling or Terminating Your Account</strong>
                        <p>We can remove any content or information you share on the Service if we believe that it violates these Terms of Use, our policies or we are permitted or required to do so by law. We can refuse to provide or stop providing all or part of the Service to you (including terminating or disabling your account) immediately to protect our community or services, or if you create risk or legal exposure for us, violate these Terms of Use or our policies if you repeatedly infringe other people's intellectual property rights, or where we are permitted or required to do so by law. If we take action to disable or terminate your account, we will notify you where appropriate. If you believe your account has been terminated in error, or you want to disable or permanently delete your account, consult our Help Center.
                        </p>

                        <strong>Content Removal and Disabling or Terminating Your Account</strong>
                        <p>We may change our Service and policies, and we may need to make changes to these Terms so that they accurately reflect our Service and policies. Unless otherwise required by law, we will notify you (for example, through our Service) before we make changes to these Terms and give you an opportunity to review them before they go into effect. Then, if you continue to use the Service, you will be bound by the updated Terms. If you do not want to agree to these or any updated Terms, you can delete your account (if any), and stop using the Services.</p>
                    </div> 
                    
                    <div >     
                    <h2 id="privacy"><strong>Privacy Policy</strong></h2> 
                    <strong>1. Introduction</strong>
                    <p>Auntie.cc, as controller,("Auntie.cc", "we", "us", or "our") is committed to protecting information under our control that identifies you ("personal data"), including your name and identifying contact details. This document serves to inform you of your rights for your personal data, why we collect your personal data, how we use and share your personal data, and for how long we store your personal data.</p>
                    <strong>1a. If you are browsing our websites:</strong>
                    <p>When you visit our websites for informational reasons, i.e. without registering for any of our provided services and without providing us with personal data in any other form, we automatically collect your IP address in order to provide you with our websites and to ensure system stability and efficiency and to implement proper safeguards as to the security of our websites and services. The personal data automatically collected is necessary to provide the websites, as far as this is necessary to operate our websites or our legitimate interest with regards to our use of technical information to enhance our systems, make your usage of the websites more convenient or ensure the security of our websites. This is based on our legitimate interest as the data used for these purposes are stored for a limited period only and we are generally not able to personally identify the user without larger efforts.</p>
                    <p>Our websites use cookies in several cases. Cookies serve to make our offer more user-friendly, more effective, and safer. Cookies are small text files that are stored on your device. This data does not contain information that we could allocate to a natural person.
Cookies do not harm your device and do not contain any viruses. You can prevent the use of cookies by adjusting your browser settings. Please note that in this case you may not be able to fully utilise all functions of the websites. We use cookies in order to enhance your customer experience. Our legitimate interest pursued is the provision and/or promotion of further products and/or services to you.</p>
                    <strong>1b. If you have registered with our website:</strong>
                    <p class="p3">You are under no obligation to provide the information to us. However, if you choose to withhold the information or to revoke permission for us to receive the information, we may be unable to provide certain aspects of our Services to you.</p>
                    <p class="p3">By providing us with any information relating to a third party (e.g. information of your spouse, children, parents, and/or employees), you represent to us that you have validly obtained the consent of the third party to provide us with their information for the respective purposes.</p>
                    <p><span>We may collect and receive the following information. Please note that not all of our Services collect all of the information listed below:</span></p>
                    <ul>
                        <li>
                            <span>Account credentials such as username.</span>
                        </li>
                        <li>
                            <span>Profile information such as, name, gender, email address, profile photo, mobile number, date of birth.</span>
                        </li>
                        <li>
                            <span>Company information such as, company name, email address, telephone number, company address, uen.</span>
                        </li>
                        <li>
                            <span>Product information required to make a listing on the search engine.</span>
                        </li>
                        <li>
                            <span>Any other information disclosed by you in any of the above-mentioned methods and/or through the use our Services.</span>
                        </li>
                        <li>
                            <span>Aggregate data collected through the use of our Services.</span>
                        </li>
                        <li>
                            <span>Any communications between you and another user of our Services.</span>
                        </li>
                    </ul>
                    <strong>2. Why we collect the information and how we use it:</strong>
                    <p>We may use the information collected and received from you for the following purposes:</p>
                    <ul>
                        <li>To verify your identity, update our records and generally maintain your Account with us.</li>
                        <li>Provide our Services and customise the content shown to you.</li>
                        <li>Develop, operate, improve, deliver and maintain our Services.</li>
                        <li>Responding to your queries and resolving complaints.</li>
                        <li>
                            <span>To facilitate, confirm and/or provide updates or notifications in relation to any transactions</span>
                            <span>.</span>
                        </li>
                        <li>Carry out polls, surveys, analysis and research on how our Services are being used and how we can improve them.</li>
                    </ul>
                    <strong>3. Disclosure of information:</strong>
                    <ul>
                        <li>We will not sell your personal data to third parties.</li>
                        <li>We will only disclose your personal data to third parties where you have provided us consent, and in the situations expressly set out in in this Policy. If you have consented to receiving marketing information from us, our strategic partners and business associates, we will be disclosing your personal data to them.</li>
                        <li>We may disclose or share your personal data with third parties who provide necessary services to us, such as</li>
                        <ul>
                            <li>Service providers and data processors working on our behalf and providing services such as hosting and maintenance services, analysis services,e-mail messaging services, delivery services, handling of payment transactions, solvency check and address check, etc</li>
                        </ul>
                        <li>We will also disclose your personal data to third parties in order to comply with legal obligations or industry requirements. This includes disclosures to legal, regulatory, governmental, tax and law enforcement authorities.</li>
                        <li>
                            Our website may have the functionalities to allow you to share your personal data with other third parties such as other users of our website. You are responsible for your choice(s) and are deemed to have provided consent for any sharing of your personal data in the manner provided by the website.
</li>
                        <li>You fully understand and consent that we may transfer your personal data to any location outside of Singapore for the purposes set out in this paragraph 3. When transferring your personal data outside of Singapore we will protect your personal data to a standard comparable to the protection accorded to your personal data under the Singapore Personal Data Protection Act 2012 by ensuring that the recipient is either in a jurisdiction which has comparable data protection laws, or is contractually bound to protect your personal data.</li>
                    </ul>
                    <strong>4. Disclaimer:</strong>
                    <p> TO THE MAXIMUM EXTENT PERMITTED BY LAW, WE SHALL NOT BE LIABLE IN ANY EVENT FOR ANY SPECIAL, EXEMPLARY, PUNITIVE, INDIRECT, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ANY KIND OR FOR ANY LOSS OF REPUTATION OR GOODWILL, WHETHER BASED IN CONTRACT, TORT (INCLUDING NEGLIGENCE), EQUITY, STRICT LIABILITY, STATUTE OR OTHERWISE, SUFFERED AS A RESULT OF UNAUTHORISED OR UNINTENDED USE, ACCESS OR DISCLOSURE OF YOUR SUBMITTED DATA.</p>
                    <strong>5. Changes to this Privacy Policy:</strong>
                    <p>
                        We reserve the right to make changes to this Privacy Policy at any time and all changes will be posted here. If we believe that the changes are material, we will notify you of the changes by posting a notice on our Services or by email. You are responsible for reviewing the changes which we make this Privacy Policy. Your continued use of our Services constitutes your acceptance of the updated Privacy Policy. </p>
                    </div>
                </div>                                  
            </div>             
        </main>     
        <footer class="my-5 pt-5 text-muted text-center text-small"> 
            <p class="mb-1">&copy; 2019 Auntie.cc</p> 
            <ul class="list-inline"> 
                <li class="list-inline-item"> 
                    <a href="/policies#privacy">Privacy</a> 
                </li>                 
                <li class="list-inline-item"> 
                    <a href="/policies#terms">Terms</a> 
                </li>                 
                <li class="list-inline-item"> 
                    <a href="/support">Support</a> 
                </li>                 
            </ul>             
        </footer>       
        <!-- Bootstrap core JavaScript
    ================================================== -->         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="assets/js/jquery.min.js"></script>         
        <script src="assets/js/popper.js"></script>         
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>         
        <script src="assets/js/auntie.js"></script>                 
    </body>
</html>
