<!doctype html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <title>Offcanvas template for Bootstrap</title>         
        <!-- Bootstrap core CSS -->         
        <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet"> 
        <!-- Custom styles for this template -->         
        <link href="assets/css/auntie.css" rel="stylesheet"> 
    </head>     
    <body class="bg-light"> 
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger"> 
            <a class="navbar-brand mr-auto mr-lg-0" href="/">Auntie</a> 
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas"> 
                <span class="navbar-toggler-icon"></span> 
            </button>             
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault"> 
                <form class="form-inline my-2 my-lg-0 mt-lg-0 mb-lg-0 ml-lg-5"> 
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
                    <div class="dropdown"> 
                        <button class="btn dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>                         
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                            <a class="dropdown-item" href="#">North</a> 
                            <a class="dropdown-item" href="#">South</a> 
                            <a class="dropdown-item" href="#">East</a> 
                            <a class="dropdown-item" href="#">West</a> 
                        </div>                         
                    </div>                     
                    <button class="btn my-2 my-sm-0 btn-light" type="submit">Search</button>                     
                </form>                 
                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item"> 
                        <a class="nav-link" href="/deals">Deals</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="/events">Events</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="/register">Register</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="/login">Login</a> 
                    </li>                    
                </ul>                 
            </div>             
        </nav>               
        <div class="container"> 
            <div class="row" style="height: 30px;"></div>             
        </div>         
        <main role="main" class="container" style="height: 100vh;"> 
            <form action="/register" method="post"> 
                <div class="form-row"> 
                    <div class="form-group col-md-6"> 
                        <label for="email">Email</label>                         
                        <input type="email" class="form-control" name="email" placeholder="Email"> 
                    </div>                     
                    <div class="form-group col-md-6"> 
                        <label for="password">Password</label>                         
                        <input type="password" class="form-control" name="password" placeholder="Password"> 
                    </div>                     
                </div>                 
                <div class="form-group"> 
                    <label for="companyName">Company Name</label>                     
                    <input type="text" class="form-control" name="companyName" placeholder="ABC Pte Ltd"> 
                </div>                 
                <div class="form-row"> 
                    <div class="form-group col-md-6"> 
                        <label for="inputCity">City</label>                         
                        <input type="text" class="form-control" name="inputCity"> 
                    </div>                     
                    <div class="form-group col-md-4"> 
                        <label for="inputBizType">Business Type</label>                         
                        <select name="inputBizType" class="form-control" > 
                            <option selected="">Company</option>     
                            <option>Franchise</option>                          
                            <option>Franchisee</option> 
                            <option>Pop-up retail</option>                              
                        </select>                         
                    </div>                     
                    <div class="form-group col-md-2"> 
                        <label for="inputZip">Postal Code</label>                         
                        <input type="text" class="form-control" name="inputZip"> 
                    </div>                     
                </div>  
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger"><%= message %></div>
                <% } %>                 
                <div class="form-group"> 
                    <div class="form-check"> 
                        <label class="form-check-label">
                            <input name="agreeTerms" class="form-check-input" type="checkbox">I agree to the Terms and Conditions.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        </label>
                    </div>                     
                </div>                 
                <button type="submit" class="btn btn-danger">Sign up</button>                 
            </form>             
            <div class="row"> 
        </div>             
        </main>         
        <footer class="my-5 pt-5 text-muted text-center text-small"> 
            <p class="mb-1">&copy; 2019 Auntie.cc</p> 
            <ul class="list-inline"> 
                <li class="list-inline-item"> 
                    <a href="#">Privacy</a> 
                </li>                 
                <li class="list-inline-item"> 
                    <a href="#">Terms</a> 
                </li>                 
                <li class="list-inline-item"> 
                    <a href="#">Support</a> 
                </li>                 
            </ul>             
        </footer>         
        <!-- Bootstrap core JavaScript
    ================================================== -->         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="assets/js/jquery.min.js"></script>         
        <script src="assets/js/popper.js"></script>         
        <script src="bootstrap/js/bootstrap.min.js"></script>         
        <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').on('click', function () {
                $('.offcanvas-collapse').toggleClass('open');
            });
        });
    </script>         
    </body>     
</html>