<!doctype html> 
<html lang="en"> 
    <head> 
        <meta charset="utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <title>Offcanvas template for Bootstrap</title>         
        <!-- Bootstrap core CSS -->         
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> 
        <!-- Custom styles for this template -->         
        <link href="auntie.css" rel="stylesheet"> 
        <link href="css/croppie.css" rel="stylesheet"> 
        <script src="js/croppie.min.js"></script>
        <style>#my-image,
#use {
    display: none;
}</style>
    </head>     
    <body class="bg-light"> 
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-danger"> 
            <a class="navbar-brand mr-auto mr-lg-0" href="#">Auntie</a> 
            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas"> 
                <span class="navbar-toggler-icon"></span> 
            </button>             
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault"> 
                <form class="form-inline my-2 my-lg-0 mt-lg-0 mb-lg-0 ml-lg-5"> 
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> 
                    <div class="dropdown"> 
                        <button class="btn dropdown-toggle btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location</button>                         
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
                            <a class="dropdown-item" href="#">Action</a> 
                            <a class="dropdown-item" href="#">Another action</a> 
                            <a class="dropdown-item" href="#">Something else here</a> 
                        </div>                         
                    </div>                     
                    <button class="btn my-2 my-sm-0 btn-light" type="submit">Search</button>                     
                </form>                 
                <ul class="navbar-nav ml-auto"> 
                    <li class="nav-item"> 
                        <a class="nav-link" href="/deals">Deals</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="#">Events</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="/events">Register</a> 
                    </li>                     
                    <li class="nav-item"> 
                        <a class="nav-link" href="/events">Login</a> 
                    </li>                     
                    <li class="nav-item dropdown"> 
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Controls</a> 
                        <div class="dropdown-menu" aria-labelledby="dropdown01"> 
                            <a class="dropdown-item" href="#">Profile</a> 
                            <a class="dropdown-item" href="#">Settings</a> 
                            <a class="dropdown-item" href="#">Sign out</a> 
                        </div>                         
                    </li>                     
                </ul>                 
            </div>             
        </nav>         
        <div class="container"> 
            <div class="row" style="height: 30px;"></div>             
        </div>         
        <main role="main" class="container">
            <div class="col-sm-6 offset-sm-3">
                <h1><br>Upload item</h1>
                <form action="/cloud/post" method="post" enctype="multipart/form-data">
                    <div class="form-group">isting Title&nbsp; &nbsp;&nbsp;
                        <br>
                        <input type="text" class="form-control" name="topics">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea type="text" rows="6" class="form-control" name="description"></textarea>
                    </div>
                    <div>
                        <input type="file" id="file" name="file" accept="image/png, image/jpeg">
                    </div>
                    <div class="form-group">Tags
                        <br>
                        <input type="text" class="form-control" name="topics">
                    </div>
                    <button type="submit" class="btn btn-lg btn-danger">Upload!</button>
                </form>
                <div style="height: 300px; width: 300px;">
                    <form id="form1" runat="server">
                        <input type='file' id="imgInp"/>
                        <img id="my-image" src="#"/>
                    </form>
                    <button id="use">Upload</button>
                    <img id="result" src="">
                </div>
                <div class="demo-wrap upload-demo">
                    <div class="container">
                        <div class="grid">
                            <div class="actions">
                                <a class="btn file-btn">
                                    <span>Upload</span>
                                    <input type="file" id="upload" value="Choose a file" accept="image/*">
                                </a>
                                <button class="upload-result">Result</button>
                            </div>
                            <div class="col-1-2">
                                <div class="upload-msg">
                                    Upload a file to start cropping
</div>
                                <div class="upload-demo-wrap">
                                    <div id="upload-demo" class="croppie-container">
                                        <div class="cr-boundary" aria-dropeffect="none">
                                            <canvas class="cr-image" alt="preview" aria-grabbed="false"></canvas>
                                            <div class="cr-viewport cr-vp-circle" style="width: 100px; height: 100px;" tabindex="0"></div>
                                            <div class="cr-overlay"></div>
                                        </div>
                                        <div class="cr-slider-wrap">
                                            <input class="cr-slider" type="range" step="0.0001" aria-label="zoom">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </main>         
        <footer class="my-5 pt-5 text-muted text-center text-small"> 
            <p class="mb-1">&copy; 2019 Auntie.cc</p> 
            <ul class="list-inline"> 
                <li class="list-inline-item"> 
                    <a href="#">Privacy</a> 
                </li>                 
                <li class="list-inline-item"> 
                    <a href="#">Terms</a> 
                </li>                 
                <li class="list-inline-item"> 
                    <a href="#">Support</a> 
                </li>                 
            </ul>             
        </footer>         
        <!-- Bootstrap core JavaScript
    ================================================== -->         
        <!-- Placed at the end of the document so the pages load faster -->         
        <script src="assets/js/jquery.min.js"></script>         
        <script src="assets/js/popper.js"></script>         
        <script src="bootstrap/js/bootstrap.min.js"></script>         
        <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').on('click', function () {
                $('.offcanvas-collapse').toggleClass('open');
            });
        });
        
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
      $('#my-image').attr('src', e.target.result);
      var resize = new Croppie($('#my-image')[0], {
        viewport: { width: 100, height: 100 },
        boundary: { width: 300, height: 300 },
        showZoomer: false,
        enableResize: true,
        enableOrientation: true
      });
      $('#use').fadeIn();
      $('#use').on('click', function() {
        resize.result('base64').then(function(dataImg) {
          var data = [{ image: dataImg }, { name: 'myimgage.jpg' }];
          // use ajax to send data to php
          $('#result').attr('src', dataImg);
        })
      })
    }
    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});
            
            $uploadCrop = $('#upload-demo').croppie({
    enableExif: true,
    viewport: {
        width: 200,
        height: 200,
        type: 'circle'
    },
    boundary: {
        width: 300,
        height: 300
    }
});
            
        $('#upload').on('change', function () { readFile(this); });
		$('.upload-result').on('click', function (ev) {
			$uploadCrop.croppie('result', {
				type: 'canvas',
				size: 'viewport'
			}).then(function (resp) {
				popupResult({
					src: resp
				});
			});
		});

    		function readFile(input) {
 			if (input.files && input.files[0]) {
	            var reader = new FileReader();
	            
	            reader.onload = function (e) {
					$('.upload-demo').addClass('ready');
	            	$uploadCrop.croppie('bind', {
	            		url: e.target.result
	            	}).then(function(){
	            		console.log('jQuery bind complete');
	            	});
	            	
	            }
	            
	            reader.readAsDataURL(input.files[0]);
	        }
	        else {
		        swal("Sorry - you're browser doesn't support the FileReader API");
		    }
		}


    </script>         
    </body>     
</html>